{%extends 'base.html'%} {% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dept Name</th>
        <th scope="col">Location</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
        {% for dept in depts %}
            <tr>
                <th scope="row">{{dept.DEPTNO}}</th>
                <td>{{dept.DNAME}}</td>
                <td>{{dept.LOC}}</td>
                <td>
                    <a href="/dept/edit/{{dept.DEPTNO}}">{%include 'icons/pencil.html'%}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"
                     data-bs-id="{{dept.DEPTNO}}"
                     class="link-danger">
                      {%include 'icons/trash.html'%}
                    </a>
                </td>
            </tr>
        {% endfor %}
      
    </tbody>
  </table>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary" href="/dept/new" role="button">Agregar departamento</a>
  </div>

  <!-- MODAL -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" action="/dept/delete" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">¿Estas seguro que quieres elimnar este DEPT?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            {{delete_form.hidden_tag()}}
            <p>Si eliminas este departamento se perdera para siempre.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          {{delete_form.submit(class='btn btn-danger')}}
        </div>
      </form>
    </div>
  </div>
{%endblock%}
