{%extends 'base.html'%} {% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th scope="col">MGR</th>
        <th scope="col">Hire Date</th>
        <th scope="col">SAL</th>
        <th scope="col">COMM</th>
        <th scope="col">Department</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
        {% for emp in emps %}
            <tr>
                <th scope="row">{{emp.EMPNO}}</th>
                <td>{{emp.ENAME}}</td>
                <td>{{emp.JOB}}</td>
                <td>{{emp.MGR}}</td>
                <td>{{emp.HIREDATE}}</td>
                <td>{{emp.SAL}}</td>
                <td>{{emp.COMM}}</td>
                <td>{{emp.DEPTNO}}</td>
                <td>
                    <a href="#">{%include 'icons/pencil.html'%}</a>
                </td>
            </tr>
        {% endfor %}
      
    </tbody>
  </table>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary" href="#" role="button">Agregar empleado</a>
  </div>
{%endblock%}
